html {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>'),
    auto;
}
:root {
  --primary: rgb(4, 70, 176);
}

span {
  color: var(--primary);
}

body {
  margin: 0px;
  height: 100vh;
}
.kontainerutama {
  padding: 30px 3%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.dataatas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  /* ukuran pc */
  max-width: 10000px;
}
.box {
  background-color: var(--primary);
  color: white;
  height: 120px; /* Tinggi tetap untuk persegi panjang */
  display: flex;
  align-items: center;
  padding-left: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 20px;
}
.pembungkusteks p,
.pembungkusteks h1 {
  margin: 0; /* Hilangkan margin default */
}
.pembungkusteks h1 {
  font-size: 40px;
  margin-top: -5px;
}
.pembungkusteks {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Pastikan teks rata kiri */
}
.box i {
  margin-top: -5px;
  font-size: 50px;
}
.navsamping{
  display: flex;
  gap: 20px;
  font-size: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.navsamping{
  margin-top: 15px;
}
.navsamping button {

  height: 40px;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
@media screen and (max-width: 1500px) {
  .box{
    padding-left: 25px;
    height: 100px;
  }
  .box i {
    font-size: 40px;
  }
  .pembungkusteks h1{
    font-size: 30px;
  }
  .navbar{
    margin-bottom: 35px;
  }
}