html {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary: rgb(4, 70, 176);
}
span {
  color: var(--primary);
}
.kontainer {
  padding: 40px;
}
.kontaineratas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.kontaineratas button {
  height: 40px;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.form-table {
  padding: 15px;
  height: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}
.edit {
  border-radius: 6px;
  background-color: #405cf5;
  color: white;
  text-decoration: none;
  appearance: button;
  height: 30px;
  width: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.hapus {
  border-radius: 6px;
  background-color: rgb(231, 44, 75);
  color: white;
  text-decoration: none;
  appearance: button;
  height: 30px;
  width: 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  cursor: pointer;
}
th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: black solid 1px;
}
tr,
td {
  border: none;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.form {
  display: flex;
  /* border: solid black 1px; */
  height: 100px;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  padding: 10px;
}
.form p {
  font-size: 20px;
}

.input {
  display: flex;
  gap: 20px;
  flex-direction: row;
  margin-bottom: 10px;
}

input text {
  width: 300px;
  border-radius: 5px;
}
label {
  margin-right: 100px;
  width: 100px; /* Pastikan label memiliki lebar yang konsisten */
  text-align: left; /* Agar teks rata kanan */
}
.submit {
  height: 40px;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.back {
  border-radius: 6px;
  background-color: #405cf5;
  color: white;
  text-decoration: none;
  appearance: button;
  height: 44px;
  width: 5%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  cursor: pointer;
}